# ==========================================================
# Project : imai.my
# File    : .gitignore
# Sprint  : 001
# ==========================================================

############################################################
# Environment
############################################################

.env

############################################################
# Logs
############################################################

*.log
logs/

############################################################
# Docker Volumes
############################################################

volumes/

############################################################
# macOS
############################################################

.DS_Store

############################################################
# Linux
############################################################

*~

############################################################
# VS Code
############################################################

.vscode/

############################################################
# JetBrains
############################################################

.idea/

